body {
    background-color: #025050;
}

.App .todos-wrapper {
    padding: 30px;
    display: flex;
    font-size: 20px;
}

.App .todos-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    border: 1px solid gold;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    width: 270px;
}

.App .todos-wrapper > div > div:last-child {
    display: flex;
    justify-content: space-between;
}

.App ul {
    list-style: none;
    padding-left: 0;
}

.App input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    background-color: bisque;
    color: darkgreen;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid darkgoldenrod;
    outline: none;
}

.App input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.App li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    color: gold;
}

.App h3 {
    color: gold;
    font-size: 30px;
}

.App button {
    border-radius: 4px;
    border: solid 1px gold;
    cursor: pointer;
    font-weight: bold;
    transition: .6s easy;
    padding: 3px 8px;
    font-size: 20px;
    background-color: darkgreen;
    color: gold;
}

.App button:hover {
    transform: scale(1.1);
    background-color: #1fce1f;
}

.App h3 button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.App h3 button,
.App li button {
    background-color: #ab0202;
    color: gold;
}

.active-filter:hover,
.App li button:hover,
.App h3 button:hover {
    background-color: #f65757 !important;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.active-filter {
    background-color: #ab0202 !important;
}

.is-done {
    opacity: 0.5;
}
